openapi: 3.0.3
info:
  title: Scrive Document Access Control Signing API
  version: 2.0.0
  description: The Scrive Document API (eSign Online, Version 2) is a RESTful, JSON-over-HTTPS interface that creates, prepares, sends, and manages the full lifecycle of documents for electronic signing, with identity verification through Nordic and European e-ID methods (BankID, MitID, Freja, Smart-ID, and more). Document status changes are delivered to consumers via HTTP callback (webhook) URLs. Endpoints are grounded in the public documentation at https://apidocs.scrive.com/. Request and response schemas are modeled and should be verified against the live docs.
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
  license:
    name: Proprietary
    url: https://www.scrive.com/
servers:
- url: https://scrive.com/api/v2
  description: Production
- url: https://api-testbed.scrive.com/api/v2
  description: API Testbed (development)
security:
- oauth2: []
- oauth1: []
tags:
- name: Signing
paths:
  /documents/{document_id}/remind:
    post:
      tags:
      - Signing
      operationId: remind
      summary: Remind signatories
      parameters:
      - $ref: '#/components/parameters/DocumentId'
      responses:
        '200':
          description: Reminder sent.
  /documents/{document_id}/forward:
    post:
      tags:
      - Signing
      operationId: forward
      summary: Forward a document
      parameters:
      - $ref: '#/components/parameters/DocumentId'
      responses:
        '200':
          description: Document forwarded.
  /documents/{document_id}/restart:
    post:
      tags:
      - Signing
      operationId: restart
      summary: Restart a document
      parameters:
      - $ref: '#/components/parameters/DocumentId'
      responses:
        '201':
          description: New document created from the restarted one.
  /documents/{document_id}/{signatory_id}/resend:
    post:
      tags:
      - Signing
      operationId: resend
      summary: Resend an invitation to a signatory
      parameters:
      - $ref: '#/components/parameters/DocumentId'
      - $ref: '#/components/parameters/SignatoryId'
      responses:
        '200':
          description: Invitation resent.
  /documents/{document_id}/{signatory_id}/getqrcode:
    get:
      tags:
      - Signing
      operationId: getQrCode
      summary: Get a sign-link QR code for a signatory
      parameters:
      - $ref: '#/components/parameters/DocumentId'
      - $ref: '#/components/parameters/SignatoryId'
      responses:
        '200':
          description: QR code image or data.
  /documents/{document_id}/{signatory_id}/signingdata:
    get:
      tags:
      - Signing
      operationId: signingData
      summary: Get signing data for a signatory
      parameters:
      - $ref: '#/components/parameters/DocumentId'
      - $ref: '#/components/parameters/SignatoryId'
      responses:
        '200':
          description: Signing data.
  /documents/{document_id}/{signatory_id}/changemobile:
    post:
      tags:
      - Signing
      operationId: changeMobile
      summary: Change a signatory's contact info
      parameters:
      - $ref: '#/components/parameters/DocumentId'
      - $ref: '#/components/parameters/SignatoryId'
      responses:
        '200':
          description: Contact info updated.
components:
  parameters:
    SignatoryId:
      name: signatory_id
      in: path
      required: true
      schema:
        type: string
    DocumentId:
      name: document_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://oauth2.scrive.com/oauth2/authorization
          tokenUrl: https://oauth2.scrive.com/oauth2/token
          scopes:
            doc:create: Create documents
            doc:check: Read documents
            doc:send: Send documents
            full: Full access
            offline_access: Refresh tokens
            openid: OpenID Connect
    oauth1:
      type: apiKey
      in: header
      name: Authorization
      description: OAuth 1.0 or personal access credentials passed in the Authorization header using PLAINTEXT signatures (oauth_consumer_key, oauth_token, oauth_signature).
